/*Brewster Loomer*/
h1
   {
    text-align: center;
   }

#startButton
{
   font-size: larger; 
   color:rgb(11, 226, 22);
   background-color: black;
   border-radius: 5px;
   border-color: green;
    display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Centers horizontally within its parent */
}
#stopButton
{
   
    font-size: larger; 
   color:rgb(226, 11, 11);
   background-color: black;
   border-radius: 5px;
   border-color: red;
    display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Centers horizontally within its parent */
}

   body 
{
   background-image: url('coffeewarehouse.png');
    margin-left: auto;
    margin-right: auto; 
    
}

div
{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    font-weight: bolder;  
    font-size: 50px;
    font-style: italic;
    color: white;
    



}
